@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", serif;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

main {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #365e32;
  color: white;
  padding: 1rem 0;
}

/* Header Container */
.header-container {
  display: flex;
  justify-content: space-between; /* Pisahkan elemen secara horizontal */
  align-items: center;
  padding: 0 1rem; /* Tambahkan jarak padding untuk rapi */
}

.site-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center; /* Memastikan navbar item berada di tengah */
  width: 100%;
}

/* Navbar List */
.navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 2rem; /* Memberikan jarak antar item */
  justify-content: center; /* Memastikan list berada di tengah */
}

/* Navbar Link */
.navbar-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #ffdd00;
}

/* Search Box */
.search-box {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 4px;
  padding: 5px;
  margin-left: auto;
}

.search-input {
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
  border: none;
  outline: none;
  flex: 1; /* Buat input memanjang sesuai ruang yang tersedia */
}

.search-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.dashboard-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f8f9fa;
  padding: 20px;
}

.sidebar h4 {
  margin-bottom: 20px;
  color: #365e32;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar a.active,
.sidebar a:hover {
  background-color: #81a263;
}

.sidebar a.logout {
  color: red;
}

.sidebar a.logout:hover {
  background-color: yellow;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #e9ecef;
}

.main-content h1 {
  margin-bottom: 20px;
  color: #365e32;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #81a263;
  color: white;
}

tr:hover {
  background-color: #f1f1f1;
}
