@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Poppins", serif;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
  url(../../ASSETS/LANDING-PAGE/background.png);
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
}

.header {
  background-color:#162F65;
  color: white;
  padding: 20px;
  text-align: left;
}

.main {
  display: flex;
  flex-direction: column;
}

.left-column {
  width: 100%;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

button {
  width: auto;
  padding: 8px 16px;
  background-color: #e8c01d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  text-align: left;
  transition: transform 0.2s, box-shadow 0.2s;
}

button:hover {
  background-color: #ddd;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Queries for Responsiveness */

/* 1200px and below */
@media screen and (max-width: 1200px) {
  .container {
    max-width: 80%;
  }

  .header {
    font-size: 1.2em;
  }

  button {
    font-size: 12px;
  }
}

/* 768px and below */
@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  .main {
    flex-direction: column;
  }

  .form-group input {
    padding: 12px;
  }

  button {
    width: 100%;
    font-size: 14px;
  }
}

/* 480px and below */
@media screen and (max-width: 480px) {
  body {
    padding: 10px;
  }

  .container {
    max-width: 100%;
    padding: 15px;
  }

  .header {
    font-size: 1.1em;
    text-align: center;
  }

  .form-group input {
    padding: 12px;
  }

  button {
    font-size: 14px;
    padding: 10px 20px;
  }
}
